#port_Wrap {
    height: 100vh;
    background-color: #272F2E;
    padding: 1% 1.5%;

    #haeder {
        display: flex;
        justify-content: left;
        height: 35px;
        font-weight: 300;

        h3 {
            font-size: 16px;
            color: #fff;
            margin-right: 4vw;
        }

        div {
            margin-right: 4vw;
            transition: all 0.6s;

            ul {
                display: flex;
                color: #7EA6E3;

                li {
                    margin-left: 10px;
                }
            }
        }

        :hover {
            color: #5fc28f;
        }

        .connect {
            ul {
                li {
                    font-weight: 300;
                    color: #fff;
                }
            }
        }

        .nav {
            font-family: 'nanumSquareNeo';

            ul {
                li {
                    font-weight: 300;
                    color: #fff;
                }
            }
        }
    }

    #main {
        display: flex;
        align-items: center;
        justify-content: center;

        .intro {
            margin-top: 1%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: linear-gradient(to right, #41CF85, #255DCF);
            -webkit-background-clip: text;
            justify-content: space-between;
            color: transparent;
            font-size: 9.5vw;
            line-height: 0.9;

            .intro_img {
                cursor: pointer;
                margin: 10px 20px 0;
                flex: 1;
                min-width: 20%;
                max-width: 60%;
                height: 7vw;
                background-color: #41CF85;
                border-radius: 100px;
                background-position: center center;
                background-size: cover;

            }
        }

        .content__Wrap {
            width: 100%;
            height: 100%;

            .content {
                height: 100%;

                .content__img {
                    width: 100%;
                    min-height: 500px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: #fff;
                    border-radius: 20px;
                }

                .content__text {

                    .head {
                        justify-content: space-between;
                        display: flex;
                        color: #fff;

                        span {
                            white-space: pre-line;
                            padding-top: 2%;
                            font-family: 'nanumSquareNeo';
                            width: 50%;
                        }

                        h2 {
                            width: 50%;
                            text-align: right;
                            font-size: 7vw;
                        }
                    }
                }
            }

        }
    }
}

.regular {
    font-weight: 300;
}

.thin {
    font-weight: 100;
}

.img01 {
    background-image: url(../../img/work01.png);
}

.img02 {
    background-image: url(../../img/work02.png);
}

.img03 {
    background-image: url(../../img/work03.png);
}

.img04 {
    background-image: url(../../img/work04.png);
}

.img05 {
    background-image: url(../../img/work05.png);
}

.img06 {
    background-image: url(../../img/work06.png);
}