#section1 {

    .first {
        width: 100%;
        height: 100vh;
        font-family: "PartizenoRegular";
        font-size: 10vw;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;

        header {
            font-size: 40px;
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .center__text {
            width: 80%;
            position: relative;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .center__text .t1 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 12.8vw;
        }

        .center__text .t2 .line .word:nth-child(1) .char:nth-child(4) {
            padding-right: 12vw;
        }

        .center__text .t3 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 17vw;
        }

        .center__text .t4 .line .word:nth-child(1) .char:nth-child(4) {
            padding-right: 17.4vw;
        }

        .center__text .img {
            cursor: pointer;
            height: 7.4vw;
            background-size: cover;
            background-position: center center;
            border-radius: 100px;
        }

        .center__text .i1 {
            width: 14vw;
            position: absolute;
            left: 17vw;
            top: .6vw;
        }

        .center__text .i2 {
            width: 10vw;
            position: absolute;
            left: 26vw;
            top: 11vw;

        }

        .center__text .i3 {
            width: 18vw;
            position: absolute;
            left: 19.5vw;
            top: 21vw;
        }

        .center__text .i4 {
            width: 19vw;
            position: absolute;
            right: 0;
            top: 21vw;
        }

        .center__text .i5 {
            width: 19vw;
            position: absolute;
            left: 24vw;
            top: 31vw;
        }

        .center__text .text {
            padding: 5%;
        }

        .center__text .img div {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }

        .center__text .i1 div {
            background-image: url(https://source.unsplash.com/random/?green);

        }

        .center__text .i2 div {
            background-image: url(https://source.unsplash.com/random/?programming);

        }

        .center__text .i3 div {
            background-image: url(https://source.unsplash.com/random/?abstract);

        }

        .center__text .i4 div {
            background-image: url(https://source.unsplash.com/random/300x300/?pink);

        }

        .center__text .i5 div {
            background-image: url(https://source.unsplash.com/random/300x300/?nature);
        }

        .center__text .img {
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 0 #00000084 inset;
            transition: box-shadow 0.3s;
            transition: transform 0.3s ease-in-out;
        }
    }

    .three {
        background-color: #D9F1F1;
        width: 100%;
        height: 100vh;
        font-family: "Pacifico";
        font-size: 8vw;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        color: #FFB4B0;

        .center__text {
            width: 85%;
            position: relative;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .center__text .t1 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 26.8vw;
        }

        .center__text .t2 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 22.4vw;
        }

        .center__text .t3 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 19vw;
        }

        .center__text .t4 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 6vw;
        }

        .center__text .img {
            cursor: pointer;
            height: 7.4vw;
            background-size: cover;
            background-position: center center;
            border-radius: 100px;
        }

        .center__text .i1 {
            width: 10.5vw;
            position: absolute;
            left: 19vw;
            top: 1vw;
        }

        .center__text .i2 {
            width: 10vw;
            position: absolute;
            left: 26vw;
            top: 11vw;
        }

        .center__text .i3 {
            width: 16vw;
            position: absolute;
            left: 23vw;
            top: 20vw;
        }

        .center__text .i4 {
            width: 19vw;
            position: absolute;
            right: 0;
            top: 20vw;
        }

        .center__text .i5 {
            width: 10vw;
            position: absolute;
            left: 29.5vw;
            top: 30vw;
        }

        .center__text .img div {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }

        .center__text .i1 div {
            background-image: url(../../img/pink1.png);
        }

        .center__text .i2 div {
            background-image: url(../../img/pink2.png);
        }

        .center__text .i3 div {
            background-image: url(../../img/pink3.png);
        }

        .center__text .i4 div {
            background-image: url(../../img/pink4.png);
        }

        .center__text .i5 div {
            background-image: url(../../img/pink5.png);
        }

        .center__text .text {
            padding: 5%;
        }

        .center__text .img {
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 0 #e04e4e84 inset;
            transition: box-shadow 0.3s;
        }


    }

    .forth {
        background-color: #CBB4A7;
        color: #444032;
        font-weight: 100;
        width: 100%;
        height: 100vh;
        font-family: "nanumSquareNeo";
        font-size: 8vw;
        line-height: 1.1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;

        .center__text {
            width: 80%;
            position: relative;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .center__text .t1 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 26.8vw;
        }

        .center__text .t2 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 22.4vw;
        }

        .center__text .t3 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 19vw;
        }

        .center__text .t4 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 6vw;
        }

        .center__text .img {
            cursor: pointer;
            height: 7vw;
            background-size: cover;
            background-position: center center;
            border-radius: 100px;
        }

        .center__text .i1 {
            width: 16vw;
            position: absolute;
            left: 14.5vw;
            top: .8vw;
        }

        .center__text .i2 {
            width: 14vw;
            position: absolute;
            left: 23.5vw;
            top: 9.5vw;
        }

        .center__text .i3 {
            width: 19.5vw;
            position: absolute;
            left: 17.5vw;
            top: 18.5vw;
        }

        .center__text .i4 {
            width: 20vw;
            position: absolute;
            right: 0;
            top: 18.5vw;
        }

        .center__text .i5 {
            width: 15vw;
            position: absolute;
            left: 25vw;
            top: 27.2vw;
        }

        .center__text .img div {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }

        .center__text .i1 div {
            background-image: url(../../img/coffie1.png);
        }

        .center__text .i2 div {
            background-image: url(../../img/coffie2.png);
        }

        .center__text .i3 div {
            background-image: url(../../img/coffie3.png);
        }

        .center__text .i4 div {
            background-image: url(../../img/coffie4.png);
        }

        .center__text .i5 div {
            background-image: url(../../img/coffie5.png);
        }

        .center__text .text {
            padding: 5%;
        }

        .center__text .img {
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 0 #e04e4e84 inset;
            transition: box-shadow 0.3s;
        }

    }

    .fifth {
        background-color: #33392F;
        color: #BA985B;
        font-weight: 100;
        width: 100%;
        height: 100vh;
        font-family: "Cafe24Danjunghae";
        font-size: 9vw;
        line-height: 1.1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;

        .center__text {
            width: 85%;
            position: relative;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .center__text .t1 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 26.8vw;
        }

        .center__text .t2 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 22.4vw;
        }

        .center__text .t3 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 19vw;
        }

        .center__text .t4 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 6vw;
        }

        .center__text .img {
            cursor: pointer;
            height: 7vw;
            background-size: cover;
            background-position: center center;
            border-radius: 100px;
        }

        .center__text .i1 {
            width: 16vw;
            position: absolute;
            left: 16vw;
            top: .8vw;
        }

        .center__text .i2 {
            width: 19vw;
            position: absolute;
            left: 23.5vw;
            top: 10.8vw;
        }

        .center__text .i3 {
            width: 21vw;
            position: absolute;
            left: 17.5vw;
            top: 20.8vw;
        }

        .center__text .i4 {
            width: 21vw;
            position: absolute;
            right: 0;
            top: 20.8vw;
        }

        .center__text .i5 {
            width: 21vw;
            position: absolute;
            left: 24vw;
            top: 30.8vw;
        }

        .center__text .img div {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }

        .center__text .i1 div {
            background-image: url(../../img/green1.png);
        }

        .center__text .i2 div {
            background-image: url(../../img/green2.png);
        }

        .center__text .i3 div {
            background-image: url(../../img/green3.png);
        }

        .center__text .i4 div {
            background-image: url(../../img/green4.png);
        }

        .center__text .i5 div {
            background-image: url(../../img/green5.png);
        }

        .center__text .text {
            padding: 5%;
        }

        .center__text .img {
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 0 #e04e4e84 inset;
            transition: box-shadow 0.3s;
        }

    }

    .sixth {
        background-color: #E1E1E1;
        color: #000000;
        font-weight: 100;
        width: 100%;
        height: 100vh;
        font-family: "Eros Romano";
        font-size: 10vw;
        line-height: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;

        .center__text {
            width: 80%;
            position: relative;

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .center__text .t1 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 26.8vw;
        }

        .center__text .t2 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 22.4vw;
        }

        .center__text .t3 .line .word:nth-child(2) .char:nth-child(1) {
            padding-left: 19vw;
        }

        .center__text .t4 .line .word:nth-child(3) .char:nth-child(1) {
            padding-left: 6vw;
        }

        .center__text .img {
            cursor: pointer;
            height: 6.8vw;
            background-size: cover;
            background-position: center center;
            border-radius: 100px;
            border: 2px solid #5c5c5c;
        }

        .center__text .i1 {
            width: 22vw;
            position: absolute;
            left: 14vw;
            top: .5vw;
        }

        .center__text .i2 {
            width: 19vw;
            position: absolute;
            left: 23vw;
            top: 8.5vw;
        }

        .center__text .i3 {
            width: 22vw;
            position: absolute;
            left: 16vw;
            top: 16.5vw;
        }

        .center__text .i4 {
            width: 22vw;
            position: absolute;
            right: 0;
            top: 16.5vw;
        }

        .center__text .i5 {
            width: 19.5vw;
            position: absolute;
            left: 24vw;
            top: 24.5vw;
        }

        .center__text .img div {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
        }

        .center__text .i1 div {
            background-image: url(../../img/news1.png);
        }

        .center__text .i2 div {
            background-image: url(../../img/news2.png);
        }

        .center__text .i3 div {
            background-image: url(../../img/news3.png);
        }

        .center__text .i4 div {
            background-image: url(../../img/news4.png);
        }

        .center__text .i5 div {
            background-image: url(../../img/news5.png);
        }

        .center__text .text {
            padding: 5%;
        }

        .center__text .img {
            overflow: hidden;
            border-radius: 100px;
            box-shadow: 0 0 0 0 #e04e4e84 inset;
            transition: box-shadow 0.3s;
        }

    }

    .none {
        display: none;
    }
}

.center__text .img span {
    z-index: 1;
    font-family: 'GmarketSans';
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 10;
    position: absolute;
    left: 50%;
    bottom: 35%;
    color: #ffffff00;
    transform: translate(-50%, -35%);
    transition: all 0.4s;
}

.center__text .img:hover {
    box-shadow: 0 0 15px 20px #ffadad21 inset;
}

.center__text .img:hover div {
    transform: scale(1.1);
}

.center__text .img:hover span {
    color: #fff;
}

.center__text .img:hover::after {
    background: #00000025;
    transition: background 0.3s;
}

.center__text .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000000;
    transition: background 0.3s;
}


#section2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    >div {
        overflow: hidden;
        background-color: #FFFFFF;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        >div {
            width: 100%;
            height: 50vh;

            .header {
                font-family: 'MapoDPP';
                justify-content: space-between;
                width: 100%;
                height: 10vh;
                display: flex;
                align-items: center;
                padding: 30px;
                font-weight: 100;

                >div {
                    display: flex;

                    button {
                        font-weight: 100;
                        font-family: 'MapoDPP';
                        width: 150px;
                        height: 40px;
                        background-color: #000000;
                        border-radius: 100px;
                        color: #fff;
                        transition: all 0.5s;
                        margin-right: 10px;
                    }

                    button:hover {
                        background-color: #fff;
                        color: #000;
                        border: 1px solid #000;
                    }
                }

                .ham {
                    cursor: pointer;
                    z-index: 1;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: none;
                    position: relative;
                    justify-content: right;

                    div {
                        width: 100%;
                        height: 1px;
                        border: 1px solid #000;

                        ul {
                            display: none;
                            position: absolute;
                            right: -1px;
                            top: 30px;

                            li {
                                border-radius: 0;
                            }

                            li:hover {
                                border: 0;
                            }
                        }
                    }

                    div::after {
                        content: '';
                        width: 100%;
                        border: 1px solid #000;
                        bottom: 0;
                        position: absolute;
                    }

                    div::before {
                        content: '';
                        width: 100%;
                        border: 1px solid #000;
                        bottom: 50%;
                        position: absolute;
                    }

                }

                ul {
                    cursor: pointer;
                    display: flex;

                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 100;
                        font-family: 'MapoDPP';
                        width: 150px;
                        height: 40px;
                        background-color: #000000;
                        border-radius: 100px;
                        color: #fff;
                        margin-left: 10px;
                        transition: all 0.5s;
                    }

                    li:hover {
                        border: 1px solid #000;
                        color: #000;
                        background-color: #fff;
                    }
                }
            }

            .main {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                h2 {
                    position: relative;
                    margin-top: 15vh;
                    width: 100%;
                    text-align: center;
                    font-size: 5vw;
                    margin-bottom: 10px;
                }

                p {
                    padding: 0 20px;
                    position: relative;
                    font-size: 20px;
                    font-family: 'nanumSquareNeo';
                }
            }

            .img {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .port02 {
        background-color: #D9F1F1;
        color: #FFB4B0;

        >div {
            .header {
                button {
                    background-color: #FFB4B0;
                    font-family: 'Pacifico';
                    font-size: 14px;
                }

                button:hover {
                    border: 0;
                    color: #fff;
                    background-color: #63cece;
                }

                .ham {
                    div {
                        border: 1px solid #FFB4B0;
                    }

                    div::after {
                        border: 1px solid #FFB4B0;
                    }

                    div::before {
                        border: 1px solid #FFB4B0;
                    }
                }

                ul {
                    li {
                        font-size: 14px;
                        background-color: #FFB4B0;
                        font-family: 'Pacifico';
                    }

                    li:hover {
                        color: #fff;
                        background-color: #63cece;
                        border: 0;
                    }
                }

            }

            .main {
                h2 {
                    font-family: 'Pacifico';
                    font-size: 4.5vw;
                }
            }
        }
    }

    .port03 {
        background-color: #CBB4A7;
        color: #444032;

        >div {
            .header {
                button {
                    background-color: #444032;
                    font-family: 'nanumSquareNeo';
                    font-size: 14px;
                }

                button:hover {
                    border: 0;
                    color: #fff;
                    background-color: #000;
                }

                .ham {
                    div {
                        border: 1px solid #444032;
                    }

                    div::after {
                        border: 1px solid #444032;
                    }

                    div::before {
                        border: 1px solid #444032;
                    }
                }

                ul {
                    li {
                        font-size: 14px;
                        background-color: #444032;
                        font-family: 'nanumSquareNeo';
                    }

                    li:hover {
                        border: 0;
                        color: #fff;
                        background-color: #000;
                    }
                }

            }

            .main {
                h2 {
                    font-weight: 100;
                    font-family: 'nanumSquareNeo';
                    font-size: 5vw;
                }
            }
        }
    }

    .port04 {
        background-color: #33392F;
        color: #BA985B;

        >div {
            .header {
                button {
                    background-color: #BA985B;
                    font-family: 'nanumSquareNeo';
                    font-size: 14px;
                    color: #000;
                }

                button:hover {
                    border: 0;
                    color: #BA985B;
                    background-color: #000;
                }

                .ham {
                    div {
                        border: 1px solid #BA985B;
                    }

                    div::after {
                        border: 1px solid #BA985B;
                    }

                    div::before {
                        border: 1px solid #BA985B;
                    }
                }

                ul {
                    li {
                        font-weight: 400;
                        font-size: 14px;
                        background-color: #BA985B;
                        font-family: 'nanumSquareNeo';
                        color: #000;
                    }

                    li:hover {
                        border: 0;
                        color: #BA985B;
                        background-color: #000;
                    }
                }

            }

            .main {
                h2 {
                    font-family: 'Cafe24Danjunghae';
                    font-size: 5vw;
                }
            }
        }
    }

    .port05 {
        background-color: #E1E1E1;
        color: #000;

        >div {
            .header {
                button {
                    background-color: #000;
                    font-family: 'nanumSquareNeo';
                    font-size: 14px;
                }

                button:hover {
                    border: 0;
                    color: #fff;
                    background-color: #636363;
                }

                .ham {
                    div {
                        border: 1px solid #000;
                    }

                    div::after {
                        border: 1px solid #000;
                    }

                    div::before {
                        border: 1px solid #000;
                    }
                }

                ul {
                    li {
                        font-size: 14px;
                        background-color: #000;
                        font-family: 'nanumSquareNeo';
                    }

                    li:hover {
                        border: 0;
                        color: #fff;
                        background-color: #636363;
                    }
                }

            }

            .main {
                h2 {
                    font-family: 'Eros Romano';
                    font-size: 6vw;
                }
            }
        }
    }

    >div.none {
        display: none;
    }


}

#section3 {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .comment_wrap {
        width: 380px;
        height: 700px;
        background-color: #282828;

        .top {
            height: 10%;
            border-bottom: 1px solid #454545;
            color: #fff;
            display: flex;
            align-items: center;
            font-size: 20px;
            justify-content: center;
            position: relative;
            font-family: 'nanumSquareNeo';

            h2 {
                font-weight: 100;
            }

            button {
                font-family: 'nanumSquareNeo';
                font-weight: 100;
                padding-right: 20px;
                padding-bottom: 5px;
                font-size: 30px;
                position: absolute;
                right: 0;
                display: flex;
                color: #fff;
                background-color: #00000000;
            }
        }

        .list {
            overflow: auto;
            padding: 30px 20px;
            height: 75%;
            border-bottom: 1px solid #454545;

            .chatbox {
                margin-bottom: 20px;

                p {
                    background-color: #f1f1f1;
                    padding: 15px;
                    max-width: 60%;
                    font-family: 'nanumSquareNeo';
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                        transform: translateY(-50%);
                        margin-left: 5px;
                        text-align: right;
                        font-size: 14px;
                        font-family: 'nanumSquareNeo';
                        background-color: #00000000;
                    }
                }

                .left {
                    border-radius: 0px 20px 20px 20px;
                }

                .right {
                    border-radius: 20px 00px 20px 20px;
                }
            }

            .boxright {
                display: flex;
                justify-content: right;
            }
        }

        .push {
            height: 15%;
            position: relative;

            .write {
                height: 100%;
                display: flex;
                flex-wrap: wrap;

                >div {
                    width: 75%;

                    input {
                        width: 100%;
                        font-family: 'nanumSquareNeo';
                        overflow: hidden;
                        padding: 10px;
                        color: #fff;
                        outline: none;
                        background-color: #00000000;
                        height: 50%;
                        flex-wrap: wrap;
                        display: flex;
                        padding-left: 15px;
                    }
                }

                button {
                    font-family: 'nanumSquareNeo';
                    border: 0;
                    width: 25%;
                    height: 100%;
                }
            }

            .delete {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;

                input {
                    width: 75%;
                    font-family: 'nanumSquareNeo';
                    overflow: hidden;
                    padding: 10px;
                    color: #fff;
                    outline: none;
                    background-color: #00000000;
                    height: 100%;
                    flex-wrap: wrap;
                    display: flex;
                    padding-left: 15px;
                }

                div {
                    width: 25%;
                    display: flex;
                    flex-wrap: wrap;

                    button {
                        font-family: 'nanumSquareNeo';
                        width: 100%;
                        border: 0;
                        height: 50%;
                    }
                }
            }

            input.show {
                display: flex;
            }

            input.none {
                display: none;
            }

            .none {
                display: none;
            }

            ::placeholder {
                font-size: 14px;
            }

            #password {
                border-bottom: 1px solid #afafaf;
            }
        }
    }
}

#section3.none {
    display: none;
}

@media (max-width: 1200px) {
    #section2 {
        >div {
            .box {
                .main {
                    h2 {
                        font-size: 8vw;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

        }
    }
}

@media (max-width: 1000px) {
    #section2 {
        >div {

            .box {
                .header {
                    font-size: 14px;

                    button {
                        font-size: 14px;
                        width: 140px;
                        height: 20px;
                    }

                    button:hover {}

                    ul {

                        li {
                            width: 140px;
                        }

                        li:hover {}
                    }
                }

                .main {
                    h2 {
                        font-size: 10vw;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

@media (max-width: 800px) {
    #section2 {
        >div {

            .box {
                .header {
                    font-size: 12px;

                    button {
                        font-size: 12px;
                        width: 120px;
                        height: 20px;
                    }

                    button:hover {}

                    ul {

                        li {
                            width: 120px;
                        }

                        li:hover {}
                    }
                }

                .main {
                    h2 {
                        font-size: 11vw;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

@media (max-width: 600px) {
    #section2 {
        >div {

            .box {
                .header {
                    padding: 20px;

                    button {}

                    .button {
                        display: none;
                    }

                    .ham {
                        display: flex;
                    }
                }

                .main {
                    h2 {
                        margin-top: 11vh;
                    }
                }
            }

        }
    }
}


@media (max-width: 400px) {
    // #section1 {
    //     .fifth {
    //         width: 100%;
    //         height: 100vh;
    //         font-size: 15vw;
    //         line-height: 1;
    //         display: flex;
    //         flex-wrap: wrap;
    //         align-items: center;
    //         justify-content: center;
    //         position: fixed;
    //         left: 0;
    //         top: 0;
    //         z-index: -1;
    //         text-align: center;

    //         .center__text {
    //             display: flex;
    //             flex-wrap: wrap;

    //             .split {
    //                 width: 100%;
    //                 display: block;
    //             }

    //             .t4 {
    //                 span {
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //     }
    // }

    #section2 {
        >div {
            .box {
                .header {
                    padding: 20px;

                    button {
                        width: 80px;
                    }
                }

                .main {
                    h2 {
                        margin-top: 10vh;
                        padding: 0 20px;
                        font-size: 15vw;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.portimg01 {
    background-image: url(../../img/port01.png);
}

.portimg02 {
    background-image: url(../../img/port02.png);
}

.portimg03 {
    background-image: url(../../img/port03.png);
}

.portimg04 {
    background-image: url(../../img/port04.png);
}

.portimg05 {
    background-image: url(../../img/port05.png);
}

#section2.none {
    display: none;
}


.overlayup {
    width: 100%;
    position: absolute;
}

.overlaydown {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.black {
    width: 100%;
    height: 100vh;
    position: absolute;

    .up {
        position: absolute;
        width: 100%;
        height: 50vh;
    }

    .down {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50vh;
    }
}

// 스크롤바 

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000d2;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}