body {
    background-color: var(--white);
    color: var(--color);
}

main {
    min-height: 80vh;
}

// 섹션 공통 요소
section {

    @media (max-width: 800px) {
        padding: 20px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;

        em {
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 50%;
                background-color: var(--red100);
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                border-radius: 30px;
            }
        }
    }
}

// 섹션 로딩 소스
.isLoading {
    opacity: 0;
    transition: opacity 0.5s;
}

.isLoaded {
    opacity: 1;
    transition: opacity 0.5s;
}

.reple {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    position: relative;
}

.reple-info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}

.modal {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
}

.none {
    display: none;
}

button {
    cursor: pointer;
}

.overlayup {
    width: 100%;
    position: absolute;
}

.overlaydown {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.black {
    width: 100%;
    height: 100vh;
    position: absolute;

    .up {
        position: absolute;
        width: 100%;
        height: 50vh;
    }

    .down {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50vh;
    }
}

// 스크롤바 

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000d2;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

/* Heart.css */

.heart {
    width: 50px;
    height: 50px;
    background-color: #ff938e;
    position: fixed;
    transform: rotate(-45deg);
    margin: -25px 0 0 -25px;
    transition: transform 0.2s ease-out;
    pointer-events: none;
}

.heart::before,
.heart::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #ff938e;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 25px;
}